<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.flattmattfanclub.am-here</string>
    <key>ProgramArguments</key>
        <array>
        <string>/PATH/TO/am-here</string>
        </array>
    <!--    <key>StandardErrorPath</key>
    <string>Don't do this - it breaks catalina</string>
    <key>StandardOutPath</key>
    <string>Don't do this - it breaks catalina</string>-->
    <key>StartInterval</key>
        <integer>30</integer>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
